body {
    background: white; /* #fffcf9; */
}
#container {
    display: grid;
    grid-template-columns: 390px 1fr;
}
#main-pane {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
#log-pane {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#console-log {
    height: 90vh; /* should be viewport height to use overflow, not '%' */
    padding: 0.2em 0.5em;
    margin: 10px 15px 10px 0px;
    color: #666;
    background: #d6ebf6; /*  #d6ebff;  */
    box-shadow: 0px 0px 0px 10px #d6ebf6;/* #d6ebff; */
    border: dashed 2px white;
    overflow: auto; /* scroll  */
    border-radius: 130px 10px 110px 10px / 10px 130px 10px 110px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 50, .5);
    border-radius: 10px;
    box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}

.basefont-ja {
    font-size: 16px;
    color: #666;
}
.basefont-en {
    font-size: 18px;
    color: #666;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-text {
    position: relative;
    color: #158b2b;
    font-size: 28px;
    font-weight: bold;
    padding: 0px;
    text-align: center;
    margin: 1.5em 0.5em;
}
.title-text:before {
    content: "";
    position: absolute;
    top: -22px;
    left: 50%;
    width: 80px;
    height: 60px;
    border-radius: 50%;
    border: 10px solid #a6ddb0;
    /* border-top-color: transparent; */
    border-left-color: transparent;
    border-right-color: transparent;
    transform: translateX(-50%);
}
.title-icon {
    margin: 0px 0px 0px 0px;
}
.abstract {
    /* text-align: center; */    
    margin: 0px 0px 24px 30px;
}
.help-links {
    /* text-align: center; */
    margin: 0px 0px 0px 30px;
}
.projects p {
    margin: 30px 0px 10px 5px;
    background: linear-gradient(transparent 60%, #ffdb98 70%);
    border-radius: 80px 150px / 10px 5px;
    width: 80%;
}
.project-links {
    margin: 0px 0px 0px 20px;
}
.link-btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00bcd4;
    /* background: #ececec; */
    border: solid 2px #00bcd4;
    border-radius: 5px;
    transition: .4s;
}

.link-btn:hover {
    background: #00bcd4; /* #008a9c; */ /* #668ad8; */
    color: white;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background: #00bcd4; /* #87befd; #668ad8; */
    font-size: 16px;
    color: #FFF;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    vertical-align: bottom;
    overflow: hidden;        
    transition: .4s;
    margin: 4px;
}
.btn:hover {
    background: #008a9c;
    /* background: #668ad8; */
}
.btn-circle {
    border-radius: 50%;
}
.btn-rect {
    border-radius: 20%;        
}

.select-btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: large;
    padding: 8px 10px 5px 10px;
    text-decoration: none;
    background: #ffebc0;
    color: #ffa000;
    border: solid 3px #ffa000;
    border-radius: 10px;
    /* box-shadow: 2px 2px; */
    box-shadow: none;
    transition: .4s;
}

.select-btn:hover {
    background: #ffc25c;
    color: #FFF;
}

.select-btn:disabled {
    background: #ececec;
    color: #999;
    border: solid 3px #999;
}

.select-btn.selected {
    background: #ececec;
    color: #999;
    border: solid 3px #FFA000;
}

#scan-btn {
    background: #ffebc0;
    color: #ffa000;
    font-size: large;
    border: 3px solid #ffa000;
    margin: 0px 0px 0px 70px;
    border-radius: 20px;
}

#scan-btn:hover {
    background: #ffa000;
    color: #ffebc0;
}

#scan-btn:active {
    background: #ffa000;
    color: #ffebc0;
    border: 3px solid #ffebc0;
}


#scan-btn:disabled {
    background: #ececec;
    color: #999;
    border: 3px solid #999;    
}
